<!-- Footer -->
<!-- <div class="container"> -->
  <div class="text-center footerStyle">
    <hr>
    <div class="row">
      <!-- <div style="margin-right: auto; margin-left: auto;">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter" style="padding-left: 20px"></i>
        <i class="fa fa-google-plus" style="padding-left: 20px"></i>
      </div> -->
    </div>
    © 2018 Copyright: <a href="#"> Amit Saxena</a>
    <!-- 2018 Copyright: <a href="#"> Amit Saxena</a> -->
  </div>
<!-- </div> -->


