<!-- <div class="container"> -->

  <div style="margin-bottom: 20px;" id="main">
    <ul class="nav nav-tabs" style="padding-bottom: 7px">
      <li class="nav-item" style="width: 20%">
        <a class="logo" href="#">
          <h3>My Story</h3>
        </a>
      </li>
      <li style="width: 55%">
        <app-search-bar></app-search-bar>
      </li>
  
      <li class="navTabWidth" (click)="goToNotification()">
        <a class="nav-link text-secondary" data-toggle="tab">
          <i class="material-icons">notifications</i><span class="badge badge-pill badge-danger align-top">25</span>
        </a>
      </li>
      <li class="navTabWidth" (click)="goToMessages()">
        <a class="nav-link text-secondary" data-toggle="tab">
          <i class="material-icons">email</i><span class="badge badge-pill badge-danger align-top">14</span>
        </a>
      </li>
      <li class="navTabWidth" (click)="goToAdminSettings()">
        <a class="nav-link  text-secondary" data-toggle="tab">
          <i class="material-icons">settings</i>
        </a>
      </li>
      <!-- <app-settings></app-settings> -->
    </ul>
  </div>
  
  
  <!-- </div> -->